$blog-text: #6b6a6a;
$btn-color: #EBB120;


.blog {
  background-image: url('assets/img/bg_4.jpg');
  width: 1520px;
  height: 720px;
}

.blog-inf h2 {
  margin-top: 0;
  padding-top: 40px;
}

.blog p {
  font-size: 14px;
  color: $blog-text;
}



.blog-eat {
  width: 350px;
}


.blog-eat span {
  font-size: 10px;

}

.blog-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
  height: 400px;
  margin: auto;
  text-align: left;
  margin-top: 55px;
}

.blog-eat {
  width: 340px;
}

.eat-menu {
  width: 320px;
  height: 220px;
}

.min-comm img {
  width: 12px;
  height: 12px;
  margin: 0 6px 0 12px;
}

.footer-position {
  width: 1520px;
  height: 500px;
  display: flex;
}

.map-position {
  width: 50%;
  height: 100%;
}

.map-position iframe{
  width: 100%;
  height: 100%;
}

.form {
  margin-top: 3%;
  margin-left: 6%;
}

.form form {
  background: $background-color; /* Цвет фона */
  width: 480px; /* Ширина формы */
  //margin: auto; /* Выравниваем по центру */
  padding: 20px; /* Поля вокруг текста */
}
.form input {
  width: 100%; /* Ширина поля */
  //box-sizing: border-box; /* Ширина не учитывает padding */
  margin: 10px 0; /* Отступы сверху и снизу */
  padding: 12px 0; /* Поля вокруг текста */
  border: none; /* Убираем рамку */
  border-bottom: 1px solid #ccc; /* Линия снизу */
  background: transparent; /* Прозрачный фон */
  color: #ffffff;
}
.form input:focus {
  outline: none; /* Убираем контур */
  border-bottom: 2px solid $btn-color; /* Синяя линия снизу */
}
.form input::placeholder {
  transition: 0.5s; /* Время трансформации */
  color: #ffffff; /* Цвет подсказки */
}
.form input:focus::placeholder {
  font-size: 10px; /* Размер шрифта */
  transform: translateY(-16px); /* Сдвигаем вверх */
}

.form input:last-of-type {
  border: 1px solid $btn-color;
  background-color: $btn-color;
  width: 100px;
  height: 50px;
  margin-right: 400px;
}

.info-about {
  display: flex;

}

