// Section order

.order{
  
  background-image: url("assets/img/bg_4.jpg");
  height: 750px;
  width: 1520px;
  
  
}

.order__icons{
  display: grid;
  grid-template-columns: minmax(240px, auto) repeat( 5, 1fr);
  grid-template-rows: minmax(230, auto);
  justify-items: center;
  max-width: 1520px;
  height: 230px;
  margin: 0;


}

.order__img{
  display: grid;
  margin: -5px;
  
}

.order__img img{
  width: 255px;
  height: 230px;
}

.order__header{
  margin-top: -18px;
}
.order__header h1 {
  padding: 70px 0px 10px 0px;
  margin-top: 0px;
}

.order__header p{
  color: #6c6c6c;
  font-size: 15px;
  padding-bottom: 100px;
}

.order__text{

  text-align: left;
  width: 240px;
  height: 230px;
}

.order__text h3{
  font-size: 17px;
  padding-left: 15px;
}

.order__text p{
  color: #6c6c6c;
  font-size: 14px;
  padding: 0px 10px 25px 15px;
}

.order__text span{
  color: #eebc60;
  padding-left: 15px;
}

.btn{
  margin-left: 10px;
  background-color: black;
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
  color: #fff;
  padding-left: 15px;
  width: 60px;
  height: 30px;

}

.btn:hover{
  background-color: #eebc60;
  color: black;
}

// Section menu

.menu{
  background-image: url("assets/img/bg_4.jpg");
  height: 800px;
  width: 1520px;
}

.menu__list{
  display: flex;
  justify-content: center;
  padding-left: 0px;
}


.menu__left{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 570px;
}

.menu__right{
  display: flex;
  flex-direction: column;
  width: 570px;
  align-items: stretch;
}

.menu__header h2{
  padding: 100px 0px 10px 0px;
  margin-top: 0px;
}

.menu__header p{
  color: #6c6c6c;
  font-size: 15px;
  padding-bottom: 80px;
}

svg{
  width: 580px;
  height: 200px;
  margin-top: -180px;
}

.menu__img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 10px;
}



.main__text{
  margin: 20px 0px -10px 0px;
  text-align: left;
  margin-left: 20px;
 
}


.menu__text{
  color: #6c6c6c;
  font-size: 15px;
  text-align: left;
  
}

.price{
  color: #eebc60;
  margin-left: 15px;
}

.desh{
  color: #be7e06;
  margin-left: 10px;
}

.desh1{
  margin-left: 0px;
  color: #be7e06;
}